{% extends 'base.html.twig' %}
{% block title %}
    Accueil
    
{% endblock %}
{% block body %}
    <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
            <div class="container py-5">
                <h1 class="text-body-emphasis">
                    Bienvenue sur le site du Gîte PROGICA !
                                    
                </h1>
                <p class="col-lg-8 mx-auto lead">
                    Nous sommes ravis de vous accueillir sur la plateforme en ligne de notre gîte. Explorez nos pages pour découvrir toutes les informations nécessaires pour planifier votre séjour. Que vous soyez à la recherche d'une escapade relaxante ou d'une aventure passionnante, le Gîte Progica est l'endroit idéal pour créer des souvenirs inoubliables.
                                                            
                </p>
                <button type="button" class="btn btn-warning mt-4">
                    Rechercher un gite
                                    
                </button>
                
            </div>
            
        </div>
    </div>
{% endblock %}
